include components/vars
include components/mixins

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0")
      link(rel="preconnect" href="https://fonts.googleapis.com")
      link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
      link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto+Slab:wght@400;700&display=swap" rel="stylesheet")
      link(rel="stylesheet" href="css/styles.css")
      link(rel="shortcut icon", href="img/js-ico.svg", type="image/x-icon")
      title StartUp - Your Favourite Creative Agency
   body
      header#header.header.relative
         .header_line.fixed 
            .wrapper 
               .flex 
                  .logo
                     h1 
                        a(href="/") Startup
                  .navigation 
                     +headerMenu(navMenu)

      main.main 
         section#home.home.flex.bg_parallax 
            #sign_popup.hidden
               form(action="", method="post").contact_form.relative
                  span#closeBtn X
                  h2 Sign up
                  label
                     input(type="text" name="name" placeholder="Your Name")
                  label.relative
                     input(type="email" name="email" required placeholder="Your E-mail*").email
                     span.errorEmail.error
                  label.relative
                     input(id="tel" type="tel" name="tel" placeholder="Your Phone")
                     span(id="errorTel").error
                  span.block.nota * This fields are required
                  button(id="signBtn" type="submit" disabled).disabledBtn.btn Accept
            .wrapper 
               h2.welcome Welcome to STARTUP
               p.title_desc Your Favourite Creative Agency Template
               button.btn(id="getStarted" type="button") Get Started

         section#services.services.hiddenBlock 
            .wrapper
               h2 Services
               .flex.justify_center
                  hr
               p.title_desc We offer ipsum dolor sit amet, consetetur sadipscing elitr amet
               .figures.flex.hiddenChild
                  +figureServices(cardServices.typography) 
                  +figureServices(cardServices.code) 
                  +figureServices(cardServices.support) 

         section#aboutus.aboutus.hiddenBlock
            .wrapper
               h2 About us
               .flex.justify_center
                  hr
               p.title_desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
               .aboutus_desc.flex.justify_center
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                  p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
               .devs.carousel-wrapper.relative.hiddenChild
                  //- button(id="carouselLeft" type="button").carouselBtn.btnLeft &lt;
                  //- button(id="carouselRight" type="button").carouselBtn.btnRight &gt;
                  .carousel.flex
                     +figureAboutUs(cardAboutUs.first)
                     +figureAboutUs(cardAboutUs.second)
                     +figureAboutUs(cardAboutUs.third)
                     +figureAboutUs(cardAboutUs.fourth)
                     //- +figureAboutUs(cardAboutUs.fifth)
                     //- +figureAboutUs(cardAboutUs.sixth)

         section#works.works.hiddenBlock
            .wrapper
               h2 Latest Works
               .flex.justify_center
                  hr
               p.categories.title_desc.flex.justify_center
                  a#catAll.activeCategory(href="#" data-category="") All
                  a#catBranding(href="#" data-category="Branding") Branding
                  a#catDesign(href="#" data-category="Design") Design
                  a#catDevelopment(href="#" data-category="Development") Development
                  a#catStrategy(href="#" data-category="Strategy") Strategy
               .workCards.grid.hiddenChild
                  +cardsWorks(cardWorks)

         #getInTouch.getInTouch.bg_parallax
            .wrapper 
               p Do you like OUR WORK so far? Let's talk about YOUR PROJECT!
               button.btn(id="getInTouchBtn" type="button") Get in Touch

         section#blog.blog.hiddenBlock
            .wrapper
               h2 Recent blog posts
               .flex.justify_center
                  hr
               p.title_desc.flex.justify_center Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
               .posts.hiddenChild 
                  +post(posts.first)
                  hr
                  +post(posts.second)

         section#clients.clients
            .wrapper
               .brands.flex.justify_center
                  img(src="img/brand_1.png", alt="brand deorham")
                  img(src="img/brand_2.png", alt="brand ratings")
                  img(src="img/brand_3.png", alt="brand malik media")
                  img(src="img/brand_4.png", alt="brand bcause")
                  img(src="img/brand_5.png", alt="brand womgify")
               .reviews
                  .review
                     p.comment Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
                     p.reviewer John Doe, Google Inc.
                  //- .review
                  //-    p.comment Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam excepturi expedita facilis dolorem dolore aliquid cum iure eum tempore voluptate.”
                  //-    p.reviewer Jane Doe, Apple
                  //- .review
                  //-    p.comment Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel sed sit, quo sunt reiciendis fugit?”
                  //-    p.reviewer James Doe, HP
               .markers 
                  span

         section#contacts.contacts.hiddenBlock
            .wrapper
               h2 Get in touch
               .flex.justify_center
                  hr
               p.title_desc Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
               .contact_block.flex.items_stretch 
                  .contact.text_left
                     .address
                        h3 Address
                        p 
                           | 312, 7th Ave, New York
                           br
                           | NY 101200, United States of America
                     .phone
                        h3 Hotline (24x7)
                        p 
                           a(href="tel:650052300") +65 0052 300
                           | ,&nbsp;
                           a(href="tel:6588251210") +65 88251 210 
                           br
                           a(href="tel:8801723511340") +88 01723 511 340
                     .mail
                        h3 E-mail
                        p 
                           a(href="mailto:shapedtheme@gmail.com ")  shapedtheme@gmail.com 
                           br
                           a(href="mailto:khalilkode@gmail.com")  khalilkode@gmail.com
                  form(action="" method="post" id="contactForm").contact_form.hiddenChild 
                     .form_row.flex
                        label
                           input(type="text" name="name" placeholder="Your Name")
                        label.relative
                           input(type="email" name="email" required placeholder="Your E-mail*").email
                           span.errorEmail.error
                     .form_row.flex
                        label
                           input(type="text" name="subject" placeholder="Your subject")
                        label
                           input(type="text" name="company" placeholder="Company name")
                     .ta
                        label
                           textarea(name="message" placeholder="Write your message")
                     .tr.flex.justify_start
                        button(type="button" id="showConfirmBtn" disabled).disabledBtn.btn Send message
                        p.nota 
                           span *
                           | &nbsp;We’ll contact you as as possible. We don’t reply on Monday.
                  #sendMsgPopup.sendMsgPopup.hidden
                     #sendMsgWrap.contact_form.relative
                        h2 Send this message?
                        .flex.justify_center
                           button(id="cancelBtn" form="contactForm" type="button").btn Cancel
                           button(id="confirmBtn" form="contactForm" type="submit").btn Confirm

      footer.footer 
         .wrapper 
            .socials.flex.justify_center
               a(href="fb_link").flex.justify_center
                  img(src="img/social_facebook.png", alt="social facebook")
               a(href="google_link").flex.justify_center
                  img(src="img/social_google.png", alt="social google+")
               a(href="linkedin_link").flex.justify_center
                  img(src="img/social_linkedin.png", alt="social linkedin")
               a(href="xwitter_ink").flex.justify_center
                  img(src="img/social_twitter.png", alt="social xwitter")
            .flex.justify_center
               hr
            p.title_desc.copywright &copy; 2024 Startup, Designed by Khalturshchyk

      script(src="js/scripts.js")