// Vars
$colorMain: #555555
$colorSecondary: #ffffff
$colorThird: #777777
$colorHover: #c0301c
$bgColorMain: #ffffff
$bgColorSecondary: rgba(192, 48, 28, 0.702)
$bgColorThird: #f8f8f8
$fontMain: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif
$fontSecondary: "Roboto Slab", "Montserrat", Arial


// Mixins
=media($size)
   @media screen and (min-width: #{$size}px)
      @content

=mediaMax($size)
   @media screen and (max-width: #{$size}px)
      @content
